<!DOCTYPE html>
<html>
    <head>
        <style>
            div
            {
                word-break: break-all;
            }

        </style>
    </head>
    <body>
        <p>Ordered list from file:</p>
        <div>
            <%= locals.text %>
        </div>
    </body>
</html>